<div mat-dialog-title class="title">Raum bearbeiten</div>
<div mat-dialog-content>
    <button *ngIf="data.room.thermostatId !== 0" mat-button (click)="openChangeTemperatureWindow(data.room.roomId)" class="buttons">
        Temperatur anpassen
    </button> <br *ngIf="data.room.thermostatId !== 0" >
    <button mat-button (click)="openChangeRoomNameWindow(data.room.roomId, data.room.roomName)" class="buttons">
        Raumnamen ändern
    </button><br>
    <button mat-button (click)="deleteRoom()" class="buttons">
        Raum löschen
    </button><br>
    <button *ngIf="data.room.thermostatId === 0" mat-button (click)="addThermostatAndAssignToRoom()" class="buttons">
        Thermostat hinzufügen
    </button>
</div>


<div mat-dialog-actions>
    <button mat-button (click)="onCancel()" class="close">Schließen</button>
</div>
