/*Defines the base CSS stylesheet for the root AppComponent.*/

.title {
    font-size: 40px;
    margin: 5px;
    padding-left: 20px;
    padding-top: 20px;
}

.room-name{
    font-size: 30px;
    padding-top: 15px;
}

.temperature {
    font-size: 27px;
}

.ids {
    font-size: 20px;
}

.box{
    width: 250px;
    height: 250px;
    background: #eee;
    border: 1px solid #DDD;
    background: -moz-linear-gradient(top, #EEE, #FFF);    
    background: -webkit-linear-gradient(top, #eee, #fff);
    background: -ms-linear-gradient(top, #eee, #fff);
    background: -o-linear-gradient(top, #eee, #fff);
    box-shadow: 1px 2px 4px rgba(0,0,0, .2);
}

.header {
    font-size: 30px;

    overflow: hidden;
    background-color: #51565C;
    padding: 30px;
    color: #FFF;
    text-align: center;
}

@media screen and (max-width: 500px) {
    .header h2 {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    grid-auto-rows: auto;
    grid-gap: 10px;
    padding: 10px;
    grid-auto-flow: row; 
}

.grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

.add-room-button {
    font-size: 17px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    margin-top: 25px;
    margin-left: 25px;
    gap: 8px;
    height: 40px;
    width: 150px;
    border: none;
    background: #51565C;
    border-radius: 20px;
    cursor: pointer;
}

.settings-button {
    font-size: 17px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    margin: 10px;
    gap: 8px;
    height: 40px;
    width: 230px;
    border: none;
    background: #51565C;
    border-radius: 20px;
    cursor: pointer;
}

