<!--Main Page--> 

<main class="main">

    <div class="header">
        SmartHome
    </div>

    <div class="title">Räume: </div>
    <div>
        <button mat-button (click)="openAddRoomDialog()" class="add-room-button">
            Neuen Raum hinzufügen
        </button>
    </div>
    <div class="grid-container">
        @for(room of rooms;track "room.roomId"){
            <div class="grid-item">
                <div class="box">
                    <div class="room-name">{{room.roomName}}</div>
                    <br>
                    <div *ngIf="room.thermostatId !== 0" class="temperature">{{room.temperature}}°C</div><br> 
                    <div class="ids">Raum Nr.: {{room.roomId}}<br>
                    <div *ngIf="room.thermostatId !== 0">Thermostat Nr.: {{room.thermostatId}}</div></div>
                    <button mat-button (click)="openRoomDialog(room)" class="settings-button">
                        Raum bearbeiten
                    </button>
                </div>
            </div>
        }
    </div>

</main>