<!--Defines the HTML template associated with the root AppComponent.--> 

<main class="main">

    <div class="header">
        <h2 class="logo">CompanyLogo</h2>
        <div class="header-right">
            <h2>SmartHome Shit</h2>
        </div>
    </div>

    <h2>Räume: </h2>
    <div class="grid-container">
        @for(room of rooms;track "room.roomId"){
            <div class="grid-item">
                <div class="box">
                    {{room.roomName}}
                    <br>
                    {{room.temperature}}
                    <button (click)="openChangeTemperatureWindow(room.roomId)">
                        Temperatur anpassen
                    </button>
                    <button (click)="openChangeRoomNameWindow(room.roomId, room.roomName)">
                        Raumnamen ändern
                    </button>
                    <button (click)="addThermostatAndAssignToRoom(room.roomId)">
                        Thermostat hinzufügen
                    </button>
                    <button (click)="deleteRoom(room.roomId)">
                        Raum löschen
                    </button>

                </div>
            </div>
            
        }
    </div>
        
    <div class="buttons">
        <button (click)="openAddWindow()">
            neuer Raum
        </button>
    </div>

</main>