/*Defines the base CSS stylesheet for the root AppComponent.*/

.title {
    font-size: 100px;
    margin: 5px;
    padding-top: 20px;
}

.room-name{
    font-size: 30px;
    padding-top: 15px;
}

.temperature {
    font-size: 27px;
    padding-bottom: 10px;
}

.box{
    width: 250px;
    height: 250px;
    background: #eee;
    border: 1px solid #DDD;
    background: -moz-linear-gradient(top, #EEE, #FFF);    
    background: -webkit-linear-gradient(top, #eee, #fff);
    background: -ms-linear-gradient(top, #eee, #fff);
    background: -o-linear-gradient(top, #eee, #fff);
    box-shadow: 1px 2px 4px rgba(0,0,0, .2);
}

.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
}

.header h2 {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header-right {
    float: right;
}

@media screen and (max-width: 500px) {
    .header h2 {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
}

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

.add-room-button {
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    gap: 8px;
    height: 30px;
    width: 120px;
    border: none;
    background: #5e41de33;
    border-radius: 20px;
    cursor: pointer;
}

.settings-button {
    font-size: 17px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    margin: 10px;
    gap: 8px;
    height: 90px;
    width: 90px;
    border: none;
    background: #51565C;
    border-radius: 20px;
    cursor: pointer;
}

